:root{
	--3t-bg: #333333;
	--3t-color: #f5deb3;
}


body{
	background-color: var(--3t-bg);
	background-image:url('../assets/img/damask-pattern-5.png');
	background-position: center top;
	font-size: 1.25rem;
	font-family: Fraunces, serif;
}

.logo{
	width:50%;
	margin-bottom:2rem;
}

.common-bordered{
	background-color: var(--3t-bg);
	border-top: 4px solid var(--3t-color);
	color: white;
}

.menu-header{

	color: var(--3t-color);
	text-align:center;
	border-bottom: 2px solid var(--3t-color);
	margin-bottom: 2rem;
}

.menu-price{
	text-align:right;
}


.menu-description{
	margin-top: -1rem;
	font-size: 75%;
	opacity:0.6;
}

.tight-text{
	letter-spacing: -1px;
}

.sp-pad{
	padding-top: 3rem;
}